<!doctype html>
<html lang="en">

<body onload="startTime()">



<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Contact
      </div> <!-- / .current-page -->

      <section id="ccr-contact-form">
        <p>Contact Us</p>
        <form action="#" method="post" id="commentform">
          <input id="author" name="author" type="text" placeholder="Name" value="" required>
          <input id="email" name="email" type="email" placeholder="Email" value="" required>
          <input id="url" name="url" type="url" placeholder="Website" value="">
          <textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
          <input name="submit" type="submit" id="submit" value="Submit">

        </form> <!-- /#commentform -->

      </section> <!-- /#ccr-contact-form -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <section  id="ccr-right-section" class="col-md-4">
      <section id="ccr-contact-sidebar">
        <p>
          <span>Contact</span>
        </p>
        <address>
          <p>
            Address: 999 HaNoi Capital
          </p>
          <p>
            Nhon Town
          </p>
          <p>
            Phone:+84 999 999 999
          </p>
          <p>
            Email: contact@sanglq2411
          </p>
        </address>


        <p>
          <span>Social Updates</span>
        </p>
        <ul>
          <li>
            <a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
          </li>
          <li >
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li >
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li >
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </section> <!-- /#ccr-contact-sidebar -->
    </section><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com.bd/maps?q=dhaka+on+google+map&amp;ie=UTF8&amp;hq=&amp;gl=bd&amp;ll=23.709921,90.407143&amp;spn=0.734303,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed">
</iframe>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>