<aside id="ccr-footer-sidebar">
  <div class="container">

    <ul>
      <li class="col-md-3">
        <h5>About Us</h5>
        <div class="about-us">
          Giải vô địch bóng đá Ý (hay còn gọi là Serie A) là giải đấu cao cấp nhất trong các giải bóng đá của nước Ý
        </div>
        <div class="site-logo">
          <a href="<%= Pathname(home_index_path) %>"><%= image_tag("logo.png", :alt => "logo") %><h1>Serie <span>A</span></h1><h3>Telecom Italia</h3></a>
        </div> <!-- / .navbar-header -->

      </li>

      <li class="col-md-3">
        <h5>Tags</h5>
        <div class="tagcloud">
          <a href="#">Football</a>
          <a href="#">Games</a>
          <a href="#">World News</a>
          <a href="#">USA</a>
          <a href="#">Salman</a>
          <a href="#">Masrafi</a>
          <a href="#">Afgan</a>
          <a href="#">Obama</a>
          <a href="#">t20</a>
          <a href="#">Business</a>
          <a href="#">Education</a>
          <a href="#">Lorem</a>
          <a href="#">Dhaka</a>
          <a href="#">BBC</a>
          <a href="#">Poland</a>
          <a href="#">Technology</a>
        </div>

      </li>
    </ul>
  </div>

</aside> <!-- /#ccr-footer-sidebar -->


<footer id="ccr-footer">
  <div class="container">
    <div class="copyright">
      &copy; 2014, Copyrights <a href="http://codexcoder.com">CodexCoder</a> Theme. All Rights Reserved
    </div> <!-- /.copyright -->

    <div class="footer-social-icons">
      <ul>
        <li>
          <a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
        </li>
        <li >
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li >
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li >
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>

    </div><!--  /.cocial-icons -->

  </div> <!-- /.container -->
</footer>  <!-- /#ccr-footer -->